<app-navbar></app-navbar>
<div class="header center">
  <h1>GET IN TOUCH</h1>
</div>
<div class="content center">
  <div class="contact col-2">
    <div class="center">
      <span class="material-symbols-outlined"> home_pin </span>
    </div>
    <div class="center">
      <h1>ADDRESS</h1>
    </div>
    <div class="center">
      <span class="data">Cluj-Napoca, Calea Motilor, nr. -1</span>
    </div>
  </div>
  <div class="contact col-2">
    <div class="center">
      <span class="material-symbols-outlined"> phone_in_talk </span>
    </div>
    <div class="center">
      <h1>PHONE</h1>
    </div>
    <div class="center"><span class="data">+40762570580</span></div>
  </div>
  <div class="contact col-2">
    <div class="center">
      <span class="material-symbols-outlined"> mail </span>
    </div>
    <div class="center">
      <h1>EMAIL</h1>
    </div>
    <div class="center"><span class="data">floreaneusebiu@gmail.com</span></div>
  </div>
</div>
